## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import Callback, ModelCheckpoint

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = counts[counts < 528].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classifications = application_df['CLASSIFICATION'].value_counts()
classifications

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_mod = classifications.loc[classifications > 1]
classifications_mod

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classifications[classifications < 1883].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df, dtype=int)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop(['IS_SUCCESSFUL'], axis=1)
y = application_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer - Adding third hidden layer to increase accuracy)
input_features = X_train_scaled.shape[1]
hn_layer1 = input_features * 2
hn_layer2 = hn_layer1 // 2
hn_layer3 = hn_layer1 // 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Input(shape=(input_features,)))
nn.add(tf.keras.layers.Dense(units=hn_layer1, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hn_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hn_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 86)                             3,784

 dense_1 (Dense)                       (None, 43)                             3,741

 dense_2 (Dense)                       (None, 21)                               924

 dense_3 (Dense)                       (None, 1)                                 22

 Total params: 8,471 (33.09 KB)

 Trainable params: 8,471 (33.09 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Callback
class SaveEpochs(Callback):
    def __init__(self, filepath, save_freq=5):
        super(SaveEpochs, self).__init__()
        self.filepath = filepath
        self.save_freq = save_freq

    def on_epoch_end(self, epoch, logs=None):
        if (epoch + 1) % self.save_freq == 0:
            self.model.save_weights(self.filepath)
            print(f"\n Model weights saved at epoch {epoch + 1}")

# Set callback to save every 5 epochs
checkpoint_cb = SaveEpochs(filepath="AlphabetSoupCharity.weights.h5", save_freq=5)

In [16]:
# Train the model, updated to 150 epochs
trained_model = nn.fit(X_train_scaled, y_train, epochs=150, validation_data=(X_test_scaled, y_test), callbacks=[checkpoint_cb])

Epoch 1/150
858/858  7s 5ms/step - accuracy: 0.7018 - loss: 0.5893 - val_accuracy: 0.7261 - val_loss: 0.5651
Epoch 2/150
858/858  7s 3ms/step - accuracy: 0.7309 - loss: 0.5548 - val_accuracy: 0.7270 - val_loss: 0.5600
Epoch 3/150
858/858  3s 3ms/step - accuracy: 0.7257 - loss: 0.5549 - val_accuracy: 0.7238 - val_loss: 0.5591
Epoch 4/150
858/858  3s 3ms/step - accuracy: 0.7308 - loss: 0.5487 - val_accuracy: 0.7261 - val_loss: 0.5602
Epoch 5/150
851/858  0s 3ms/step - accuracy: 0.7378 - loss: 0.5422
 Model weights saved at epoch 5
858/858  6s 4ms/step - accuracy: 0.7378 - loss: 0.5423 - val_accuracy: 0.7222 - val_loss: 0.5620
Epoch 6/150
858/858  5s 3ms/step - accuracy: 0.7326 - loss: 0.5461 - val_accuracy: 0.7254 - val_loss: 0.5563
Epoch 7/150
858/858  2s 3ms/step - accuracy: 0.7346 - loss: 0.5457 - val_accuracy: 0.7286 - val_loss: 0.5559
Epoch 8/150
858/858  3s 3ms/step - accuracy: 0.7371 - loss: 0.5432 - val_accuracy: 0.7284 - val_loss: 0.5576
Epoch 9/150
858/858  3s 3ms/step - accuracy: 0.7361 - loss: 0.5443 - val_accuracy: 0.7252 - val_loss: 0.5583
Epoch 10/150
855/858  0s 2ms/step - accuracy: 0.7314 - loss: 0.5472
 Model weights saved at epoch 10
858/858  5s 3ms/step - accuracy: 0.7314 - loss: 0.5472 - val_accuracy: 0.7265 - val_loss: 0.5571
Epoch 11/150
858/858  6s 4ms/step - accuracy: 0.7361 - loss: 0.5414 - val_accuracy: 0.7223 - val_loss: 0.5595
Epoch 12/150
858/858  2s 3ms/step - accuracy: 0.7403 - loss: 0.5388 - val_accuracy: 0.7233 - val_loss: 0.5584
Epoch 13/150
858/858  3s 3ms/step - accuracy: 0.7375 - loss: 0.5420 - val_accuracy: 0.7233 - val_loss: 0.5577
Epoch 14/150
858/858  2s 3ms/step - accuracy: 0.7360 - loss: 0.5394 - val_accuracy: 0.7252 - val_loss: 0.5577
Epoch 15/150
858/858  0s 3ms/step - accuracy: 0.7382 - loss: 0.5396
 Model weights saved at epoch 15
858/858  3s 3ms/step - accuracy: 0.7382 - loss: 0.5396 - val_accuracy: 0.7296 - val_loss: 0.5577
Epoch 16/150
858/858  5s 3ms/step - accuracy: 0.7361 - loss: 0.5413 - val_accuracy: 0.7252 - val_loss: 0.5560
Epoch 17/150
858/858  2s 3ms/step - accuracy: 0.7338 - loss: 0.5429 - val_accuracy: 0.7254 - val_loss: 0.5610
Epoch 18/150
858/858  2s 3ms/step - accuracy: 0.7424 - loss: 0.5356 - val_accuracy: 0.7195 - val_loss: 0.5607
Epoch 19/150
858/858  3s 4ms/step - accuracy: 0.7436 - loss: 0.5334 - val_accuracy: 0.7300 - val_loss: 0.5591
Epoch 20/150
836/858  0s 2ms/step - accuracy: 0.7352 - loss: 0.5442
 Model weights saved at epoch 20
858/858  2s 3ms/step - accuracy: 0.7352 - loss: 0.5441 - val_accuracy: 0.7286 - val_loss: 0.5592
Epoch 21/150
858/858  3s 3ms/step - accuracy: 0.7407 - loss: 0.5362 - val_accuracy: 0.7284 - val_loss: 0.5578
Epoch 22/150
858/858  3s 3ms/step - accuracy: 0.7411 - loss: 0.5326 - val_accuracy: 0.7274 - val_loss: 0.5577
Epoch 23/150
858/858  3s 3ms/step - accuracy: 0.7380 - loss: 0.5399 - val_accuracy: 0.7280 - val_loss: 0.5581
Epoch 24/150
858/858  3s 3ms/step - accuracy: 0.7389 - loss: 0.5360 - val_accuracy: 0.7248 - val_loss: 0.5584
Epoch 25/150
836/858  0s 2ms/step - accuracy: 0.7361 - loss: 0.5385
 Model weights saved at epoch 25
858/858  5s 3ms/step - accuracy: 0.7362 - loss: 0.5386 - val_accuracy: 0.7241 - val_loss: 0.5584
Epoch 26/150
858/858  5s 3ms/step - accuracy: 0.7361 - loss: 0.5396 - val_accuracy: 0.7259 - val_loss: 0.5599
Epoch 27/150
858/858  5s 3ms/step - accuracy: 0.7374 - loss: 0.5390 - val_accuracy: 0.7271 - val_loss: 0.5617
Epoch 28/150
858/858  5s 3ms/step - accuracy: 0.7359 - loss: 0.5396 - val_accuracy: 0.7265 - val_loss: 0.5603
Epoch 29/150
858/858  3s 4ms/step - accuracy: 0.7354 - loss: 0.5387 - val_accuracy: 0.7257 - val_loss: 0.5581
Epoch 30/150
841/858  0s 2ms/step - accuracy: 0.7363 - loss: 0.5410
 Model weights saved at epoch 30
858/858  5s 3ms/step - accuracy: 0.7363 - loss: 0.5409 - val_accuracy: 0.7287 - val_loss: 0.5586
Epoch 31/150
858/858  5s 3ms/step - accuracy: 0.7375 - loss: 0.5373 - val_accuracy: 0.7257 - val_loss: 0.5613
Epoch 32/150
858/858  5s 3ms/step - accuracy: 0.7385 - loss: 0.5344 - val_accuracy: 0.7259 - val_loss: 0.5595
Epoch 33/150
858/858  2s 3ms/step - accuracy: 0.7415 - loss: 0.5358 - val_accuracy: 0.7262 - val_loss: 0.5609
Epoch 34/150
858/858  3s 3ms/step - accuracy: 0.7353 - loss: 0.5400 - val_accuracy: 0.7259 - val_loss: 0.5611
Epoch 35/150
844/858  0s 3ms/step - accuracy: 0.7421 - loss: 0.5326
 Model weights saved at epoch 35
858/858  3s 4ms/step - accuracy: 0.7421 - loss: 0.5327 - val_accuracy: 0.7262 - val_loss: 0.5626
Epoch 36/150
858/858  5s 3ms/step - accuracy: 0.7423 - loss: 0.5333 - val_accuracy: 0.7230 - val_loss: 0.5610
Epoch 37/150
858/858  2s 3ms/step - accuracy: 0.7374 - loss: 0.5374 - val_accuracy: 0.7187 - val_loss: 0.5638
Epoch 38/150
858/858  3s 3ms/step - accuracy: 0.7351 - loss: 0.5399 - val_accuracy: 0.7254 - val_loss: 0.5620
Epoch 39/150
858/858  3s 4ms/step - accuracy: 0.7401 - loss: 0.5372 - val_accuracy: 0.7264 - val_loss: 0.5618
Epoch 40/150
858/858  0s 2ms/step - accuracy: 0.7325 - loss: 0.5430
 Model weights saved at epoch 40
858/858  2s 3ms/step - accuracy: 0.7325 - loss: 0.5430 - val_accuracy: 0.7261 - val_loss: 0.5600
Epoch 41/150
858/858  3s 3ms/step - accuracy: 0.7379 - loss: 0.5376 - val_accuracy: 0.7271 - val_loss: 0.5602
Epoch 42/150
858/858  3s 3ms/step - accuracy: 0.7423 - loss: 0.5330 - val_accuracy: 0.7283 - val_loss: 0.5619
Epoch 43/150
858/858  3s 3ms/step - accuracy: 0.7383 - loss: 0.5362 - val_accuracy: 0.7261 - val_loss: 0.5616
Epoch 44/150
858/858  3s 3ms/step - accuracy: 0.7409 - loss: 0.5369 - val_accuracy: 0.7283 - val_loss: 0.5653
Epoch 45/150
846/858  0s 2ms/step - accuracy: 0.7378 - loss: 0.5376
 Model weights saved at epoch 45
858/858  2s 3ms/step - accuracy: 0.7378 - loss: 0.5376 - val_accuracy: 0.7261 - val_loss: 0.5632
Epoch 46/150
858/858  3s 3ms/step - accuracy: 0.7408 - loss: 0.5346 - val_accuracy: 0.7277 - val_loss: 0.5628
Epoch 47/150
858/858  6s 4ms/step - accuracy: 0.7351 - loss: 0.5410 - val_accuracy: 0.7273 - val_loss: 0.5623
Epoch 48/150
858/858  3s 3ms/step - accuracy: 0.7417 - loss: 0.5323 - val_accuracy: 0.7268 - val_loss: 0.5641
Epoch 49/150
858/858  5s 3ms/step - accuracy: 0.7378 - loss: 0.5363 - val_accuracy: 0.7276 - val_loss: 0.5614
Epoch 50/150
852/858  0s 2ms/step - accuracy: 0.7409 - loss: 0.5311
 Model weights saved at epoch 50
858/858  3s 3ms/step - accuracy: 0.7409 - loss: 0.5312 - val_accuracy: 0.7255 - val_loss: 0.5641
Epoch 51/150
858/858  5s 3ms/step - accuracy: 0.7397 - loss: 0.5354 - val_accuracy: 0.7278 - val_loss: 0.5616
Epoch 52/150
858/858  5s 3ms/step - accuracy: 0.7420 - loss: 0.5354 - val_accuracy: 0.7274 - val_loss: 0.5630
Epoch 53/150
858/858  3s 4ms/step - accuracy: 0.7353 - loss: 0.5379 - val_accuracy: 0.7274 - val_loss: 0.5637
Epoch 54/150
858/858  2s 3ms/step - accuracy: 0.7456 - loss: 0.5299 - val_accuracy: 0.7270 - val_loss: 0.5641
Epoch 55/150
854/858  0s 2ms/step - accuracy: 0.7389 - loss: 0.5363
 Model weights saved at epoch 55
858/858  3s 3ms/step - accuracy: 0.7389 - loss: 0.5363 - val_accuracy: 0.7227 - val_loss: 0.5681
Epoch 56/150
858/858  2s 3ms/step - accuracy: 0.7374 - loss: 0.5347 - val_accuracy: 0.7261 - val_loss: 0.5644
Epoch 57/150
858/858  3s 3ms/step - accuracy: 0.7323 - loss: 0.5430 - val_accuracy: 0.7270 - val_loss: 0.5684
Epoch 58/150
858/858  3s 4ms/step - accuracy: 0.7378 - loss: 0.5338 - val_accuracy: 0.7261 - val_loss: 0.5679
Epoch 59/150
858/858  2s 3ms/step - accuracy: 0.7414 - loss: 0.5313 - val_accuracy: 0.7270 - val_loss: 0.5662
Epoch 60/150
836/858  0s 2ms/step - accuracy: 0.7413 - loss: 0.5346
 Model weights saved at epoch 60
858/858  3s 3ms/step - accuracy: 0.7413 - loss: 0.5346 - val_accuracy: 0.7283 - val_loss: 0.5703
Epoch 61/150
858/858  2s 3ms/step - accuracy: 0.7460 - loss: 0.5282 - val_accuracy: 0.7249 - val_loss: 0.5660
Epoch 62/150
858/858  3s 4ms/step - accuracy: 0.7365 - loss: 0.5361 - val_accuracy: 0.7268 - val_loss: 0.5666
Epoch 63/150
858/858  2s 3ms/step - accuracy: 0.7404 - loss: 0.5351 - val_accuracy: 0.7267 - val_loss: 0.5680
Epoch 64/150
858/858  2s 3ms/step - accuracy: 0.7460 - loss: 0.5274 - val_accuracy: 0.7287 - val_loss: 0.5707
Epoch 65/150
848/858  0s 2ms/step - accuracy: 0.7374 - loss: 0.5406
 Model weights saved at epoch 65
858/858  3s 3ms/step - accuracy: 0.7375 - loss: 0.5406 - val_accuracy: 0.7278 - val_loss: 0.5674
Epoch 66/150
858/858  3s 3ms/step - accuracy: 0.7408 - loss: 0.5329 - val_accuracy: 0.7274 - val_loss: 0.5649
Epoch 67/150
858/858  5s 3ms/step - accuracy: 0.7373 - loss: 0.5357 - val_accuracy: 0.7236 - val_loss: 0.5703
Epoch 68/150
858/858  3s 3ms/step - accuracy: 0.7405 - loss: 0.5314 - val_accuracy: 0.7258 - val_loss: 0.5681
Epoch 69/150
858/858  2s 3ms/step - accuracy: 0.7406 - loss: 0.5329 - val_accuracy: 0.7261 - val_loss: 0.5720
Epoch 70/150
856/858  0s 3ms/step - accuracy: 0.7408 - loss: 0.5322
 Model weights saved at epoch 70
858/858  3s 4ms/step - accuracy: 0.7408 - loss: 0.5322 - val_accuracy: 0.7257 - val_loss: 0.5707
Epoch 71/150
858/858  2s 3ms/step - accuracy: 0.7389 - loss: 0.5352 - val_accuracy: 0.7246 - val_loss: 0.5670
Epoch 72/150
858/858  3s 3ms/step - accuracy: 0.7375 - loss: 0.5372 - val_accuracy: 0.7216 - val_loss: 0.5737
Epoch 73/150
858/858  3s 3ms/step - accuracy: 0.7335 - loss: 0.5394 - val_accuracy: 0.7276 - val_loss: 0.5690
Epoch 74/150
858/858  3s 3ms/step - accuracy: 0.7376 - loss: 0.5366 - val_accuracy: 0.7273 - val_loss: 0.5765
Epoch 75/150
848/858  0s 3ms/step - accuracy: 0.7427 - loss: 0.5305
 Model weights saved at epoch 75
858/858  3s 3ms/step - accuracy: 0.7427 - loss: 0.5306 - val_accuracy: 0.7251 - val_loss: 0.5733
Epoch 76/150
858/858  5s 3ms/step - accuracy: 0.7382 - loss: 0.5344 - val_accuracy: 0.7271 - val_loss: 0.5743
Epoch 77/150
858/858  5s 3ms/step - accuracy: 0.7408 - loss: 0.5317 - val_accuracy: 0.7251 - val_loss: 0.5743
Epoch 78/150
858/858  3s 3ms/step - accuracy: 0.7430 - loss: 0.5305 - val_accuracy: 0.7257 - val_loss: 0.5824
Epoch 79/150
858/858  2s 3ms/step - accuracy: 0.7450 - loss: 0.5326 - val_accuracy: 0.7274 - val_loss: 0.5710
Epoch 80/150
845/858  0s 2ms/step - accuracy: 0.7441 - loss: 0.5280
 Model weights saved at epoch 80
858/858  3s 3ms/step - accuracy: 0.7440 - loss: 0.5281 - val_accuracy: 0.7262 - val_loss: 0.5774
Epoch 81/150
858/858  6s 4ms/step - accuracy: 0.7358 - loss: 0.5382 - val_accuracy: 0.7265 - val_loss: 0.5769
Epoch 82/150
858/858  4s 3ms/step - accuracy: 0.7428 - loss: 0.5325 - val_accuracy: 0.7261 - val_loss: 0.5788
Epoch 83/150
858/858  3s 3ms/step - accuracy: 0.7398 - loss: 0.5335 - val_accuracy: 0.7255 - val_loss: 0.5744
Epoch 84/150
858/858  6s 4ms/step - accuracy: 0.7409 - loss: 0.5359 - val_accuracy: 0.7287 - val_loss: 0.5736
Epoch 85/150
855/858  0s 2ms/step - accuracy: 0.7380 - loss: 0.5340
 Model weights saved at epoch 85
858/858  3s 3ms/step - accuracy: 0.7380 - loss: 0.5340 - val_accuracy: 0.7277 - val_loss: 0.5839
Epoch 86/150
858/858  5s 3ms/step - accuracy: 0.7377 - loss: 0.5344 - val_accuracy: 0.7284 - val_loss: 0.5767
Epoch 87/150
858/858  5s 3ms/step - accuracy: 0.7394 - loss: 0.5329 - val_accuracy: 0.7276 - val_loss: 0.5758
Epoch 88/150
858/858  2s 3ms/step - accuracy: 0.7440 - loss: 0.5298 - val_accuracy: 0.7264 - val_loss: 0.5755
Epoch 89/150
858/858  3s 3ms/step - accuracy: 0.7404 - loss: 0.5330 - val_accuracy: 0.7268 - val_loss: 0.5823
Epoch 90/150
858/858  0s 3ms/step - accuracy: 0.7388 - loss: 0.5330
 Model weights saved at epoch 90
858/858  5s 3ms/step - accuracy: 0.7388 - loss: 0.5330 - val_accuracy: 0.7245 - val_loss: 0.5816
Epoch 91/150
858/858  5s 3ms/step - accuracy: 0.7412 - loss: 0.5357 - val_accuracy: 0.7264 - val_loss: 0.5746
Epoch 92/150
858/858  2s 3ms/step - accuracy: 0.7361 - loss: 0.5364 - val_accuracy: 0.7274 - val_loss: 0.5785
Epoch 93/150
858/858  4s 4ms/step - accuracy: 0.7421 - loss: 0.5300 - val_accuracy: 0.7267 - val_loss: 0.5814
Epoch 94/150
858/858  4s 3ms/step - accuracy: 0.7418 - loss: 0.5298 - val_accuracy: 0.7273 - val_loss: 0.5843
Epoch 95/150
844/858  0s 2ms/step - accuracy: 0.7423 - loss: 0.5339
 Model weights saved at epoch 95
858/858  5s 3ms/step - accuracy: 0.7422 - loss: 0.5339 - val_accuracy: 0.7283 - val_loss: 0.5781
Epoch 96/150
858/858  3s 4ms/step - accuracy: 0.7428 - loss: 0.5320 - val_accuracy: 0.7254 - val_loss: 0.5872
Epoch 97/150
858/858  2s 3ms/step - accuracy: 0.7465 - loss: 0.5244 - val_accuracy: 0.7289 - val_loss: 0.5785
Epoch 98/150
858/858  2s 3ms/step - accuracy: 0.7370 - loss: 0.5334 - val_accuracy: 0.7270 - val_loss: 0.5776
Epoch 99/150
858/858  3s 3ms/step - accuracy: 0.7387 - loss: 0.5341 - val_accuracy: 0.7230 - val_loss: 0.5808
Epoch 100/150
855/858  0s 2ms/step - accuracy: 0.7400 - loss: 0.5330
 Model weights saved at epoch 100
858/858  3s 3ms/step - accuracy: 0.7400 - loss: 0.5330 - val_accuracy: 0.7261 - val_loss: 0.5789
Epoch 101/150
858/858  5s 3ms/step - accuracy: 0.7370 - loss: 0.5348 - val_accuracy: 0.7271 - val_loss: 0.5793
Epoch 102/150
858/858  2s 3ms/step - accuracy: 0.7384 - loss: 0.5362 - val_accuracy: 0.7277 - val_loss: 0.5874
Epoch 103/150
858/858  3s 3ms/step - accuracy: 0.7404 - loss: 0.5326 - val_accuracy: 0.7271 - val_loss: 0.5794
Epoch 104/150
858/858  3s 4ms/step - accuracy: 0.7388 - loss: 0.5323 - val_accuracy: 0.7261 - val_loss: 0.5843
Epoch 105/150
848/858  0s 2ms/step - accuracy: 0.7403 - loss: 0.5318
 Model weights saved at epoch 105
858/858  5s 3ms/step - accuracy: 0.7403 - loss: 0.5318 - val_accuracy: 0.7261 - val_loss: 0.5838
Epoch 106/150
858/858  5s 3ms/step - accuracy: 0.7442 - loss: 0.5280 - val_accuracy: 0.7273 - val_loss: 0.5857
Epoch 107/150
858/858  3s 3ms/step - accuracy: 0.7406 - loss: 0.5312 - val_accuracy: 0.7259 - val_loss: 0.5833
Epoch 108/150
858/858  3s 3ms/step - accuracy: 0.7381 - loss: 0.5361 - val_accuracy: 0.7245 - val_loss: 0.5861
Epoch 109/150
858/858  2s 3ms/step - accuracy: 0.7446 - loss: 0.5280 - val_accuracy: 0.7252 - val_loss: 0.5823
Epoch 110/150
857/858  0s 2ms/step - accuracy: 0.7396 - loss: 0.5297
 Model weights saved at epoch 110
858/858  3s 3ms/step - accuracy: 0.7396 - loss: 0.5297 - val_accuracy: 0.7242 - val_loss: 0.5933
Epoch 111/150
858/858  5s 3ms/step - accuracy: 0.7449 - loss: 0.5280 - val_accuracy: 0.7249 - val_loss: 0.5846
Epoch 112/150
858/858  3s 3ms/step - accuracy: 0.7437 - loss: 0.5303 - val_accuracy: 0.7251 - val_loss: 0.5879
Epoch 113/150
858/858  5s 3ms/step - accuracy: 0.7401 - loss: 0.5326 - val_accuracy: 0.7243 - val_loss: 0.5859
Epoch 114/150
858/858  5s 3ms/step - accuracy: 0.7373 - loss: 0.5375 - val_accuracy: 0.7257 - val_loss: 0.5940
Epoch 115/150
839/858  0s 2ms/step - accuracy: 0.7424 - loss: 0.5299
 Model weights saved at epoch 115
858/858  3s 3ms/step - accuracy: 0.7424 - loss: 0.5300 - val_accuracy: 0.7251 - val_loss: 0.5887
Epoch 116/150
858/858  3s 3ms/step - accuracy: 0.7430 - loss: 0.5266 - val_accuracy: 0.7259 - val_loss: 0.5867
Epoch 117/150
858/858  4s 4ms/step - accuracy: 0.7386 - loss: 0.5317 - val_accuracy: 0.7243 - val_loss: 0.5895
Epoch 118/150
858/858  4s 3ms/step - accuracy: 0.7395 - loss: 0.5324 - val_accuracy: 0.7259 - val_loss: 0.5847
Epoch 119/150
858/858  3s 3ms/step - accuracy: 0.7408 - loss: 0.5317 - val_accuracy: 0.7241 - val_loss: 0.5862
Epoch 120/150
855/858  0s 2ms/step - accuracy: 0.7443 - loss: 0.5290
 Model weights saved at epoch 120
858/858  3s 3ms/step - accuracy: 0.7443 - loss: 0.5290 - val_accuracy: 0.7259 - val_loss: 0.5886
Epoch 121/150
858/858  5s 3ms/step - accuracy: 0.7409 - loss: 0.5320 - val_accuracy: 0.7261 - val_loss: 0.5900
Epoch 122/150
858/858  3s 3ms/step - accuracy: 0.7430 - loss: 0.5314 - val_accuracy: 0.7246 - val_loss: 0.5954
Epoch 123/150
858/858  6s 4ms/step - accuracy: 0.7435 - loss: 0.5275 - val_accuracy: 0.7243 - val_loss: 0.5916
Epoch 124/150
858/858  3s 3ms/step - accuracy: 0.7400 - loss: 0.5297 - val_accuracy: 0.7262 - val_loss: 0.5913
Epoch 125/150
849/858  0s 2ms/step - accuracy: 0.7379 - loss: 0.5331
 Model weights saved at epoch 125
858/858  3s 3ms/step - accuracy: 0.7380 - loss: 0.5331 - val_accuracy: 0.7257 - val_loss: 0.5907
Epoch 126/150
858/858  5s 3ms/step - accuracy: 0.7379 - loss: 0.5327 - val_accuracy: 0.7264 - val_loss: 0.5926
Epoch 127/150
858/858  5s 3ms/step - accuracy: 0.7406 - loss: 0.5327 - val_accuracy: 0.7246 - val_loss: 0.5942
Epoch 128/150
858/858  3s 3ms/step - accuracy: 0.7438 - loss: 0.5325 - val_accuracy: 0.7264 - val_loss: 0.5963
Epoch 129/150
858/858  3s 3ms/step - accuracy: 0.7428 - loss: 0.5275 - val_accuracy: 0.7242 - val_loss: 0.6016
Epoch 130/150
855/858  0s 3ms/step - accuracy: 0.7424 - loss: 0.5320
 Model weights saved at epoch 130
858/858  3s 4ms/step - accuracy: 0.7424 - loss: 0.5320 - val_accuracy: 0.7292 - val_loss: 0.5920
Epoch 131/150
858/858  2s 3ms/step - accuracy: 0.7394 - loss: 0.5302 - val_accuracy: 0.7257 - val_loss: 0.5917
Epoch 132/150
858/858  3s 3ms/step - accuracy: 0.7405 - loss: 0.5317 - val_accuracy: 0.7262 - val_loss: 0.6023
Epoch 133/150
858/858  5s 3ms/step - accuracy: 0.7440 - loss: 0.5277 - val_accuracy: 0.7273 - val_loss: 0.5961
Epoch 134/150
858/858  3s 3ms/step - accuracy: 0.7393 - loss: 0.5366 - val_accuracy: 0.7251 - val_loss: 0.5987
Epoch 135/150
843/858  0s 2ms/step - accuracy: 0.7399 - loss: 0.5314
 Model weights saved at epoch 135
858/858  3s 3ms/step - accuracy: 0.7399 - loss: 0.5314 - val_accuracy: 0.7276 - val_loss: 0.6164
Epoch 136/150
858/858  5s 3ms/step - accuracy: 0.7414 - loss: 0.5313 - val_accuracy: 0.7242 - val_loss: 0.6052
Epoch 137/150
858/858  3s 4ms/step - accuracy: 0.7385 - loss: 0.5308 - val_accuracy: 0.7261 - val_loss: 0.6045
Epoch 138/150
858/858  2s 3ms/step - accuracy: 0.7422 - loss: 0.5300 - val_accuracy: 0.7257 - val_loss: 0.6095
Epoch 139/150
858/858  3s 3ms/step - accuracy: 0.7426 - loss: 0.5297 - val_accuracy: 0.7233 - val_loss: 0.5989
Epoch 140/150
858/858  0s 2ms/step - accuracy: 0.7405 - loss: 0.5325
 Model weights saved at epoch 140
858/858  3s 3ms/step - accuracy: 0.7405 - loss: 0.5325 - val_accuracy: 0.7267 - val_loss: 0.6062
Epoch 141/150
858/858  3s 3ms/step - accuracy: 0.7405 - loss: 0.5302 - val_accuracy: 0.7264 - val_loss: 0.6053
Epoch 142/150
858/858  3s 4ms/step - accuracy: 0.7408 - loss: 0.5304 - val_accuracy: 0.7278 - val_loss: 0.6106
Epoch 143/150
858/858  3s 3ms/step - accuracy: 0.7407 - loss: 0.5303 - val_accuracy: 0.7286 - val_loss: 0.6083
Epoch 144/150
858/858  5s 3ms/step - accuracy: 0.7380 - loss: 0.5326 - val_accuracy: 0.7261 - val_loss: 0.5958
Epoch 145/150
836/858  0s 2ms/step - accuracy: 0.7394 - loss: 0.5320
 Model weights saved at epoch 145
858/858  5s 3ms/step - accuracy: 0.7395 - loss: 0.5319 - val_accuracy: 0.7255 - val_loss: 0.6021
Epoch 146/150
858/858  2s 3ms/step - accuracy: 0.7412 - loss: 0.5321 - val_accuracy: 0.7270 - val_loss: 0.6040
Epoch 147/150
858/858  3s 3ms/step - accuracy: 0.7391 - loss: 0.5316 - val_accuracy: 0.7249 - val_loss: 0.6052
Epoch 148/150
858/858  3s 3ms/step - accuracy: 0.7451 - loss: 0.5280 - val_accuracy: 0.7224 - val_loss: 0.6011
Epoch 149/150
858/858  3s 3ms/step - accuracy: 0.7427 - loss: 0.5292 - val_accuracy: 0.7257 - val_loss: 0.5895
Epoch 150/150
849/858  0s 2ms/step - accuracy: 0.7422 - loss: 0.5297
 Model weights saved at epoch 150
858/858  3s 3ms/step - accuracy: 0.7422 - loss: 0.5297 - val_accuracy: 0.7262 - val_loss: 0.6022

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7262 - loss: 0.6022
Loss: 0.6021749377250671, Accuracy: 0.7262390851974487