## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import Callback, ModelCheckpoint

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns "EIN'- Keeping 'NAME'.
application_df = application_df.drop(columns = ['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = counts[counts < 400].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classifications = application_df['CLASSIFICATION'].value_counts()
classifications

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_mod = classifications.loc[classifications > 1]
classifications_mod

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classifications[classifications < 700].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [9]:
# Look at NAME value counts to identify and replace with "Other"
names = application_df['NAME'].value_counts()
names

NAME
PARENT BOOSTER USA INC                               1260
TOPS CLUB INC                                         765
UNITED STATES BOWLING CONGRESS INC                    700
WASHINGTON STATE UNIVERSITY                           492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC       408
                                                     ...
OUR PERFECT STORM                                       1
FOUNTAIN THEATER                                        1
COMBAT VETERANS MOTORCYCLE ASSOCIATION 33-7             1
NEW MEXICO ASSOCIATION OF INDEPENDENT SCHOOLS INC       1
RED SHOE PROJECT INC                                    1
Name: count, Length: 19568, dtype: int64

In [10]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = names[names < 100].index.tolist()

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
MONTANA 4-H FOUNDATION INC                                              107
HONOR SOCIETY OF PHI KAPPA PHI                                          107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: count, dtype: int64

In [11]:
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df, dtype=int)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop(['IS_SUCCESSFUL'], axis=1)
y = application_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer - Reducing the number of nodes to a static number, running sigmoid in some hidden layers, and adding another hidden layer... to improve accuracy \_()_/
input_features = X_train_scaled.shape[1]
hn_layer1 = 10
hn_layer2 = 8
hn_layer3 = 6
hn_layer4 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Input(shape=(input_features,)))
nn.add(tf.keras.layers.Dense(units=hn_layer1, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hn_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hn_layer3, activation="sigmoid"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hn_layer4, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 10)                               760

 dense_1 (Dense)                       (None, 8)                                 88

 dense_2 (Dense)                       (None, 6)                                 54

 dense_3 (Dense)                       (None, 4)                                 28

 dense_4 (Dense)                       (None, 1)                                  5

 Total params: 935 (3.65 KB)

 Trainable params: 935 (3.65 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Callback
class SaveEpochs(Callback):
    def __init__(self, filepath, save_freq=5):
        super(SaveEpochs, self).__init__()
        self.filepath = filepath
        self.save_freq = save_freq

    def on_epoch_end(self, epoch, logs=None):
        if (epoch + 1) % self.save_freq == 0:
            self.model.save_weights(self.filepath)
            print(f"\n Model weights saved at epoch {epoch + 1}")

# Set callback to save every 5 epochs
checkpoint_cb = SaveEpochs(filepath="AlphabetSoupCharity.weights.h5", save_freq=5)

In [19]:
# Train the model, updated to 150 epochs
trained_model = nn.fit(X_train_scaled, y_train, epochs=50, validation_data=(X_test_scaled, y_test), callbacks=[checkpoint_cb])

Epoch 1/50
858/858  2s 2ms/step - accuracy: 0.7620 - loss: 0.4872 - val_accuracy: 0.7445 - val_loss: 0.5025
Epoch 2/50
858/858  2s 2ms/step - accuracy: 0.7648 - loss: 0.4841 - val_accuracy: 0.7484 - val_loss: 0.5018
Epoch 3/50
858/858  3s 3ms/step - accuracy: 0.7643 - loss: 0.4831 - val_accuracy: 0.7500 - val_loss: 0.5024
Epoch 4/50
858/858  5s 3ms/step - accuracy: 0.7638 - loss: 0.4853 - val_accuracy: 0.7499 - val_loss: 0.5020
Epoch 5/50
854/858  0s 2ms/step - accuracy: 0.7610 - loss: 0.4862
 Model weights saved at epoch 5
858/858  3s 3ms/step - accuracy: 0.7610 - loss: 0.4862 - val_accuracy: 0.7466 - val_loss: 0.5032
Epoch 6/50
858/858  2s 2ms/step - accuracy: 0.7679 - loss: 0.4808 - val_accuracy: 0.7512 - val_loss: 0.5014
Epoch 7/50
858/858  4s 3ms/step - accuracy: 0.7668 - loss: 0.4776 - val_accuracy: 0.7509 - val_loss: 0.5006
Epoch 8/50
858/858  2s 3ms/step - accuracy: 0.7648 - loss: 0.4827 - val_accuracy: 0.7462 - val_loss: 0.5011
Epoch 9/50
858/858  3s 3ms/step - accuracy: 0.7703 - loss: 0.4753 - val_accuracy: 0.7433 - val_loss: 0.5030
Epoch 10/50
856/858  0s 2ms/step - accuracy: 0.7603 - loss: 0.4862
 Model weights saved at epoch 10
858/858  3s 3ms/step - accuracy: 0.7603 - loss: 0.4862 - val_accuracy: 0.7493 - val_loss: 0.5020
Epoch 11/50
858/858  2s 3ms/step - accuracy: 0.7600 - loss: 0.4873 - val_accuracy: 0.7497 - val_loss: 0.5014
Epoch 12/50
858/858  3s 4ms/step - accuracy: 0.7673 - loss: 0.4791 - val_accuracy: 0.7512 - val_loss: 0.5016
Epoch 13/50
858/858  4s 2ms/step - accuracy: 0.7606 - loss: 0.4833 - val_accuracy: 0.7517 - val_loss: 0.5015
Epoch 14/50
858/858  3s 2ms/step - accuracy: 0.7639 - loss: 0.4819 - val_accuracy: 0.7504 - val_loss: 0.5020
Epoch 15/50
836/858  0s 2ms/step - accuracy: 0.7665 - loss: 0.4806
 Model weights saved at epoch 15
858/858  3s 3ms/step - accuracy: 0.7664 - loss: 0.4806 - val_accuracy: 0.7506 - val_loss: 0.5033
Epoch 16/50
858/858  3s 3ms/step - accuracy: 0.7640 - loss: 0.4810 - val_accuracy: 0.7507 - val_loss: 0.5024
Epoch 17/50
858/858  4s 2ms/step - accuracy: 0.7613 - loss: 0.4831 - val_accuracy: 0.7443 - val_loss: 0.5036
Epoch 18/50
858/858  3s 3ms/step - accuracy: 0.7611 - loss: 0.4861 - val_accuracy: 0.7512 - val_loss: 0.5013
Epoch 19/50
858/858  2s 3ms/step - accuracy: 0.7687 - loss: 0.4752 - val_accuracy: 0.7522 - val_loss: 0.5009
Epoch 20/50
854/858  0s 3ms/step - accuracy: 0.7607 - loss: 0.4852
 Model weights saved at epoch 20
858/858  3s 3ms/step - accuracy: 0.7608 - loss: 0.4851 - val_accuracy: 0.7442 - val_loss: 0.5038
Epoch 21/50
858/858  2s 2ms/step - accuracy: 0.7627 - loss: 0.4829 - val_accuracy: 0.7471 - val_loss: 0.5011
Epoch 22/50
858/858  3s 3ms/step - accuracy: 0.7648 - loss: 0.4794 - val_accuracy: 0.7506 - val_loss: 0.5012
Epoch 23/50
858/858  2s 2ms/step - accuracy: 0.7713 - loss: 0.4739 - val_accuracy: 0.7491 - val_loss: 0.5009
Epoch 24/50
858/858  3s 3ms/step - accuracy: 0.7661 - loss: 0.4817 - val_accuracy: 0.7490 - val_loss: 0.5018
Epoch 25/50
854/858  0s 2ms/step - accuracy: 0.7638 - loss: 0.4802
 Model weights saved at epoch 25
858/858  3s 3ms/step - accuracy: 0.7638 - loss: 0.4802 - val_accuracy: 0.7496 - val_loss: 0.5012
Epoch 26/50
858/858  2s 2ms/step - accuracy: 0.7614 - loss: 0.4840 - val_accuracy: 0.7488 - val_loss: 0.5010
Epoch 27/50
858/858  3s 2ms/step - accuracy: 0.7701 - loss: 0.4759 - val_accuracy: 0.7500 - val_loss: 0.5008
Epoch 28/50
858/858  3s 2ms/step - accuracy: 0.7661 - loss: 0.4773 - val_accuracy: 0.7538 - val_loss: 0.5008
Epoch 29/50
858/858  3s 3ms/step - accuracy: 0.7633 - loss: 0.4792 - val_accuracy: 0.7493 - val_loss: 0.5024
Epoch 30/50
851/858  0s 2ms/step - accuracy: 0.7681 - loss: 0.4768
 Model weights saved at epoch 30
858/858  3s 3ms/step - accuracy: 0.7681 - loss: 0.4768 - val_accuracy: 0.7487 - val_loss: 0.5001
Epoch 31/50
858/858  4s 2ms/step - accuracy: 0.7663 - loss: 0.4791 - val_accuracy: 0.7488 - val_loss: 0.5017
Epoch 32/50
858/858  3s 3ms/step - accuracy: 0.7600 - loss: 0.4816 - val_accuracy: 0.7474 - val_loss: 0.5005
Epoch 33/50
858/858  3s 3ms/step - accuracy: 0.7619 - loss: 0.4803 - val_accuracy: 0.7488 - val_loss: 0.5012
Epoch 34/50
858/858  4s 2ms/step - accuracy: 0.7654 - loss: 0.4770 - val_accuracy: 0.7461 - val_loss: 0.5027
Epoch 35/50
857/858  0s 2ms/step - accuracy: 0.7717 - loss: 0.4729
 Model weights saved at epoch 35
858/858  3s 2ms/step - accuracy: 0.7717 - loss: 0.4730 - val_accuracy: 0.7469 - val_loss: 0.5015
Epoch 36/50
858/858  2s 2ms/step - accuracy: 0.7645 - loss: 0.4790 - val_accuracy: 0.7522 - val_loss: 0.4997
Epoch 37/50
858/858  2s 3ms/step - accuracy: 0.7688 - loss: 0.4740 - val_accuracy: 0.7500 - val_loss: 0.5012
Epoch 38/50
858/858  3s 3ms/step - accuracy: 0.7618 - loss: 0.4828 - val_accuracy: 0.7499 - val_loss: 0.5013
Epoch 39/50
858/858  2s 3ms/step - accuracy: 0.7692 - loss: 0.4751 - val_accuracy: 0.7490 - val_loss: 0.5005
Epoch 40/50
849/858  0s 2ms/step - accuracy: 0.7631 - loss: 0.4827
 Model weights saved at epoch 40
858/858  3s 3ms/step - accuracy: 0.7632 - loss: 0.4826 - val_accuracy: 0.7513 - val_loss: 0.5015
Epoch 41/50
858/858  2s 3ms/step - accuracy: 0.7635 - loss: 0.4796 - val_accuracy: 0.7528 - val_loss: 0.5003
Epoch 42/50
858/858  2s 2ms/step - accuracy: 0.7679 - loss: 0.4756 - val_accuracy: 0.7507 - val_loss: 0.5007
Epoch 43/50
858/858  3s 3ms/step - accuracy: 0.7663 - loss: 0.4787 - val_accuracy: 0.7475 - val_loss: 0.5011
Epoch 44/50
858/858  2s 3ms/step - accuracy: 0.7639 - loss: 0.4808 - val_accuracy: 0.7490 - val_loss: 0.5012
Epoch 45/50
844/858  0s 2ms/step - accuracy: 0.7655 - loss: 0.4792
 Model weights saved at epoch 45
858/858  2s 2ms/step - accuracy: 0.7654 - loss: 0.4792 - val_accuracy: 0.7453 - val_loss: 0.5016
Epoch 46/50
858/858  3s 2ms/step - accuracy: 0.7652 - loss: 0.4797 - val_accuracy: 0.7515 - val_loss: 0.5017
Epoch 47/50
858/858  2s 2ms/step - accuracy: 0.7611 - loss: 0.4832 - val_accuracy: 0.7500 - val_loss: 0.5019
Epoch 48/50
858/858  3s 3ms/step - accuracy: 0.7661 - loss: 0.4764 - val_accuracy: 0.7477 - val_loss: 0.5012
Epoch 49/50
858/858  2s 2ms/step - accuracy: 0.7700 - loss: 0.4749 - val_accuracy: 0.7448 - val_loss: 0.5013
Epoch 50/50
841/858  0s 2ms/step - accuracy: 0.7612 - loss: 0.4821
 Model weights saved at epoch 50
858/858  3s 2ms/step - accuracy: 0.7613 - loss: 0.4820 - val_accuracy: 0.7526 - val_loss: 0.5016

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7526 - loss: 0.5016
Loss: 0.5015614628791809, Accuracy: 0.7526239156723022

In [21]:
# Export our model to HDF5 file
import os

save_dir = "C:/Users/camei/Bootcamp-Oct2024/GitHub_HW/21_Neural_Networks_Deep_Learning/H5_files"
os.makedirs(save_dir, exist_ok=True)

# full file path for saving the model
model_filepath_keras = os.path.join(save_dir, "AlphabetSoupCharity_optimized.keras")
model_filepath_h5 = os.path.join(save_dir, "AlphabetSoupCharity_optimized.h5")

# Save the entire model
nn.save(model_filepath_keras)
nn.save(model_filepath_h5)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [22]:
folder_path = "C:/Users/camei/Bootcamp-Oct2024/GitHub_HW/21_Neural_Networks_Deep_Learning/H5_files"
print("Files in directory:", os.listdir(folder_path))

Files in directory: ['AlphabetSoupCharity_optimized.h5', 'AlphabetSoupCharity_optimized.keras']