## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import Callback, ModelCheckpoint

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID column 'EIN' and 'NAME'
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = counts[counts < 528].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classifications = application_df['CLASSIFICATION'].value_counts()
classifications

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_mod = classifications.loc[classifications > 1]
classifications_mod

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classifications[classifications < 1883].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df, dtype=int)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop(['IS_SUCCESSFUL'], axis=1)
y = application_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer - Modifying nodes and adding dropping for overfitting prevention... to increase accuracy ¯\_(ツ)_/¯
input_features = X_train_scaled.shape[1]
hn_layer1 = input_features * 2
hn_layer2 = hn_layer1
hn_layer3 = hn_layer1 // 2

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Input(shape=(input_features,)))
nn.add(tf.keras.layers.Dense(units=hn_layer1, activation="relu"))
nn.add(Dropout(0.3))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hn_layer3, activation="relu"))
nn.add(Dropout(0.3))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hn_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_2 (Dense)                      │ (None, 86)                  │           3,784 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout_2 (Dropout)                  │ (None, 86)                  │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_3 (Dense)                      │ (None, 43)                  │           3,741 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout_3 (Dropout)                  │ (None, 43)                  │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 43)                  │           1,892 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_5 (Dense)                      │ (None, 1)                   │              44 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 9,461 (36.96 KB)

 Trainable params: 9,461 (36.96 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Callback
class SaveEpochs(Callback):
    def __init__(self, filepath, save_freq=5):
        super(SaveEpochs, self).__init__()
        self.filepath = filepath
        self.save_freq = save_freq

    def on_epoch_end(self, epoch, logs=None):
        if (epoch + 1) % self.save_freq == 0:
            self.model.save_weights(self.filepath)
            print(f"\n🔹 Model weights saved at epoch {epoch + 1}")

# Set callback to save every 5 epochs
checkpoint_cb = SaveEpochs(filepath="AlphabetSoupCharity.weights.h5", save_freq=5)

In [18]:
# Train the model - 100 epochs
trained_model = nn.fit(X_train_scaled, y_train, epochs=100, validation_data=(X_test_scaled, y_test), callbacks=[checkpoint_cb])

Epoch 1/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 9s 6ms/step - accuracy: 0.6676 - loss: 0.6163 - val_accuracy: 0.7229 - val_loss: 0.5682
Epoch 2/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.7271 - loss: 0.5679 - val_accuracy: 0.7245 - val_loss: 0.5647
Epoch 3/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7283 - loss: 0.5618 - val_accuracy: 0.7238 - val_loss: 0.5662
Epoch 4/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7308 - loss: 0.5570 - val_accuracy: 0.7233 - val_loss: 0.5634
Epoch 5/100
852/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7231 - loss: 0.5643
🔹 Model weights saved at epoch 5
858/858 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.7231 - loss: 0.5643 - val_accuracy: 0.7230 - val_loss: 0.5597
Epoch 6/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7390 - loss: 0.5486 - val_accuracy: 0.7276 - val_loss: 0.5625
Epoch 7/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7301 - loss: 0.5550 - val_accuracy: 0.7252 - val_loss: 0.5607
Epoch 8/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7353 - loss: 0.5495 - val_accuracy: 0.7290 - val_loss: 0.5620
Epoch 9/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7299 - loss: 0.5554 - val_accuracy: 0.7297 - val_loss: 0.5586
Epoch 10/100
840/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7330 - loss: 0.5527
🔹 Model weights saved at epoch 10
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7329 - loss: 0.5528 - val_accuracy: 0.7262 - val_loss: 0.5583
Epoch 11/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7300 - loss: 0.5557 - val_accuracy: 0.7303 - val_loss: 0.5573
Epoch 12/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7356 - loss: 0.5467 - val_accuracy: 0.7293 - val_loss: 0.5585
Epoch 13/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7286 - loss: 0.5524 - val_accuracy: 0.7312 - val_loss: 0.5572
Epoch 14/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7294 - loss: 0.5561 - val_accuracy: 0.7297 - val_loss: 0.5559
Epoch 15/100
852/858 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7362 - loss: 0.5462
🔹 Model weights saved at epoch 15
858/858 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - accuracy: 0.7361 - loss: 0.5462 - val_accuracy: 0.7286 - val_loss: 0.5581
Epoch 16/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7277 - loss: 0.5535 - val_accuracy: 0.7303 - val_loss: 0.5574
Epoch 17/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7365 - loss: 0.5482 - val_accuracy: 0.7305 - val_loss: 0.5566
Epoch 18/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7329 - loss: 0.5499 - val_accuracy: 0.7296 - val_loss: 0.5561
Epoch 19/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7320 - loss: 0.5509 - val_accuracy: 0.7300 - val_loss: 0.5569
Epoch 20/100
850/858 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7312 - loss: 0.5485
🔹 Model weights saved at epoch 20
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7312 - loss: 0.5485 - val_accuracy: 0.7265 - val_loss: 0.5561
Epoch 21/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7374 - loss: 0.5443 - val_accuracy: 0.7281 - val_loss: 0.5560
Epoch 22/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7363 - loss: 0.5465 - val_accuracy: 0.7278 - val_loss: 0.5568
Epoch 23/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - accuracy: 0.7304 - loss: 0.5546 - val_accuracy: 0.7278 - val_loss: 0.5543
Epoch 24/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.7328 - loss: 0.5472 - val_accuracy: 0.7277 - val_loss: 0.5634
Epoch 25/100
851/858 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7387 - loss: 0.5453
🔹 Model weights saved at epoch 25
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7386 - loss: 0.5453 - val_accuracy: 0.7258 - val_loss: 0.5606
Epoch 26/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7352 - loss: 0.5471 - val_accuracy: 0.7284 - val_loss: 0.5597
Epoch 27/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7352 - loss: 0.5449 - val_accuracy: 0.7284 - val_loss: 0.5581
Epoch 28/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7355 - loss: 0.5490 - val_accuracy: 0.7255 - val_loss: 0.5571
Epoch 29/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7317 - loss: 0.5509 - val_accuracy: 0.7280 - val_loss: 0.5593
Epoch 30/100
837/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7310 - loss: 0.5511
🔹 Model weights saved at epoch 30
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7310 - loss: 0.5511 - val_accuracy: 0.7276 - val_loss: 0.5586
Epoch 31/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - accuracy: 0.7287 - loss: 0.5533 - val_accuracy: 0.7251 - val_loss: 0.5587
Epoch 32/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7295 - loss: 0.5503 - val_accuracy: 0.7273 - val_loss: 0.5578
Epoch 33/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7303 - loss: 0.5492 - val_accuracy: 0.7280 - val_loss: 0.5567
Epoch 34/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7322 - loss: 0.5468 - val_accuracy: 0.7284 - val_loss: 0.5596
Epoch 35/100
843/858 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7374 - loss: 0.5467
🔹 Model weights saved at epoch 35
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7373 - loss: 0.5468 - val_accuracy: 0.7262 - val_loss: 0.5584
Epoch 36/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.7317 - loss: 0.5483 - val_accuracy: 0.7224 - val_loss: 0.5580
Epoch 37/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7427 - loss: 0.5391 - val_accuracy: 0.7261 - val_loss: 0.5579
Epoch 38/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7302 - loss: 0.5523 - val_accuracy: 0.7276 - val_loss: 0.5582
Epoch 39/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7305 - loss: 0.5506 - val_accuracy: 0.7283 - val_loss: 0.5578
Epoch 40/100
851/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7339 - loss: 0.5478
🔹 Model weights saved at epoch 40
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7339 - loss: 0.5478 - val_accuracy: 0.7283 - val_loss: 0.5574
Epoch 41/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7353 - loss: 0.5441 - val_accuracy: 0.7262 - val_loss: 0.5588
Epoch 42/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7372 - loss: 0.5435 - val_accuracy: 0.7281 - val_loss: 0.5580
Epoch 43/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7335 - loss: 0.5483 - val_accuracy: 0.7273 - val_loss: 0.5588
Epoch 44/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7318 - loss: 0.5472 - val_accuracy: 0.7281 - val_loss: 0.5580
Epoch 45/100
849/858 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7364 - loss: 0.5468
🔹 Model weights saved at epoch 45
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7364 - loss: 0.5468 - val_accuracy: 0.7261 - val_loss: 0.5581
Epoch 46/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7373 - loss: 0.5416 - val_accuracy: 0.7281 - val_loss: 0.5573
Epoch 47/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7361 - loss: 0.5442 - val_accuracy: 0.7257 - val_loss: 0.5570
Epoch 48/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7319 - loss: 0.5446 - val_accuracy: 0.7271 - val_loss: 0.5573
Epoch 49/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7373 - loss: 0.5456 - val_accuracy: 0.7276 - val_loss: 0.5582
Epoch 50/100
856/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7348 - loss: 0.5433
🔹 Model weights saved at epoch 50
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7348 - loss: 0.5433 - val_accuracy: 0.7261 - val_loss: 0.5568
Epoch 51/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7358 - loss: 0.5465 - val_accuracy: 0.7271 - val_loss: 0.5561
Epoch 52/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7403 - loss: 0.5393 - val_accuracy: 0.7248 - val_loss: 0.5592
Epoch 53/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7358 - loss: 0.5457 - val_accuracy: 0.7227 - val_loss: 0.5583
Epoch 54/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - accuracy: 0.7305 - loss: 0.5480 - val_accuracy: 0.7262 - val_loss: 0.5581
Epoch 55/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7353 - loss: 0.5438
🔹 Model weights saved at epoch 55
858/858 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.7353 - loss: 0.5438 - val_accuracy: 0.7267 - val_loss: 0.5569
Epoch 56/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7335 - loss: 0.5474 - val_accuracy: 0.7238 - val_loss: 0.5577
Epoch 57/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7369 - loss: 0.5427 - val_accuracy: 0.7216 - val_loss: 0.5587
Epoch 58/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7299 - loss: 0.5520 - val_accuracy: 0.7226 - val_loss: 0.5585
Epoch 59/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7333 - loss: 0.5471 - val_accuracy: 0.7261 - val_loss: 0.5584
Epoch 60/100
856/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7361 - loss: 0.5417
🔹 Model weights saved at epoch 60
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7360 - loss: 0.5417 - val_accuracy: 0.7276 - val_loss: 0.5573
Epoch 61/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7308 - loss: 0.5471 - val_accuracy: 0.7258 - val_loss: 0.5587
Epoch 62/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.7368 - loss: 0.5412 - val_accuracy: 0.7270 - val_loss: 0.5577
Epoch 63/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7329 - loss: 0.5466 - val_accuracy: 0.7214 - val_loss: 0.5571
Epoch 64/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7395 - loss: 0.5410 - val_accuracy: 0.7222 - val_loss: 0.5590
Epoch 65/100
845/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7316 - loss: 0.5467
🔹 Model weights saved at epoch 65
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7317 - loss: 0.5467 - val_accuracy: 0.7277 - val_loss: 0.5570
Epoch 66/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7396 - loss: 0.5414 - val_accuracy: 0.7242 - val_loss: 0.5587
Epoch 67/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7377 - loss: 0.5409 - val_accuracy: 0.7274 - val_loss: 0.5589
Epoch 68/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7346 - loss: 0.5438 - val_accuracy: 0.7271 - val_loss: 0.5577
Epoch 69/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7357 - loss: 0.5414 - val_accuracy: 0.7251 - val_loss: 0.5580
Epoch 70/100
838/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7357 - loss: 0.5436
🔹 Model weights saved at epoch 70
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7357 - loss: 0.5436 - val_accuracy: 0.7262 - val_loss: 0.5580
Epoch 71/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - accuracy: 0.7392 - loss: 0.5402 - val_accuracy: 0.7241 - val_loss: 0.5588
Epoch 72/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7305 - loss: 0.5512 - val_accuracy: 0.7283 - val_loss: 0.5593
Epoch 73/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7348 - loss: 0.5458 - val_accuracy: 0.7274 - val_loss: 0.5570
Epoch 74/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7307 - loss: 0.5455 - val_accuracy: 0.7254 - val_loss: 0.5582
Epoch 75/100
842/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7376 - loss: 0.5411
🔹 Model weights saved at epoch 75
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7376 - loss: 0.5412 - val_accuracy: 0.7277 - val_loss: 0.5588
Epoch 76/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7310 - loss: 0.5495 - val_accuracy: 0.7270 - val_loss: 0.5605
Epoch 77/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7358 - loss: 0.5431 - val_accuracy: 0.7283 - val_loss: 0.5597
Epoch 78/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7348 - loss: 0.5427 - val_accuracy: 0.7258 - val_loss: 0.5588
Epoch 79/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7341 - loss: 0.5439 - val_accuracy: 0.7271 - val_loss: 0.5586
Epoch 80/100
856/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7354 - loss: 0.5446
🔹 Model weights saved at epoch 80
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7354 - loss: 0.5446 - val_accuracy: 0.7235 - val_loss: 0.5578
Epoch 81/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7400 - loss: 0.5394 - val_accuracy: 0.7224 - val_loss: 0.5580
Epoch 82/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7362 - loss: 0.5408 - val_accuracy: 0.7251 - val_loss: 0.5572
Epoch 83/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.7386 - loss: 0.5420 - val_accuracy: 0.7271 - val_loss: 0.5573
Epoch 84/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7304 - loss: 0.5448 - val_accuracy: 0.7274 - val_loss: 0.5574
Epoch 85/100
847/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7367 - loss: 0.5432
🔹 Model weights saved at epoch 85
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7367 - loss: 0.5432 - val_accuracy: 0.7265 - val_loss: 0.5569
Epoch 86/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7342 - loss: 0.5404 - val_accuracy: 0.7222 - val_loss: 0.5572
Epoch 87/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7364 - loss: 0.5415 - val_accuracy: 0.7284 - val_loss: 0.5583
Epoch 88/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7370 - loss: 0.5428 - val_accuracy: 0.7289 - val_loss: 0.5586
Epoch 89/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7395 - loss: 0.5369 - val_accuracy: 0.7248 - val_loss: 0.5599
Epoch 90/100
839/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7349 - loss: 0.5412
🔹 Model weights saved at epoch 90
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7348 - loss: 0.5412 - val_accuracy: 0.7257 - val_loss: 0.5591
Epoch 91/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7334 - loss: 0.5429 - val_accuracy: 0.7252 - val_loss: 0.5597
Epoch 92/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7391 - loss: 0.5395 - val_accuracy: 0.7264 - val_loss: 0.5585
Epoch 93/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7355 - loss: 0.5429 - val_accuracy: 0.7245 - val_loss: 0.5595
Epoch 94/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7343 - loss: 0.5453 - val_accuracy: 0.7226 - val_loss: 0.5581
Epoch 95/100
849/858 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7448 - loss: 0.5317
🔹 Model weights saved at epoch 95
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7447 - loss: 0.5318 - val_accuracy: 0.7248 - val_loss: 0.5601
Epoch 96/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.7378 - loss: 0.5427 - val_accuracy: 0.7241 - val_loss: 0.5591
Epoch 97/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7313 - loss: 0.5474 - val_accuracy: 0.7252 - val_loss: 0.5596
Epoch 98/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7310 - loss: 0.5464 - val_accuracy: 0.7255 - val_loss: 0.5595
Epoch 99/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7385 - loss: 0.5411 - val_accuracy: 0.7249 - val_loss: 0.5597
Epoch 100/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7392 - loss: 0.5379
🔹 Model weights saved at epoch 100
858/858 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7392 - loss: 0.5379 - val_accuracy: 0.7261 - val_loss: 0.5586

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7261 - loss: 0.5586
Loss: 0.5586195588111877, Accuracy: 0.7260932922363281